<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.pay.mapper.CarMapper">
  <resultMap id="BaseResultMap" type="com.ys.pay.domain.entity.Car">
    <!--@mbg.generated-->
    <id column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="p_number" jdbcType="VARCHAR" property="pNumber" />
    <result column="p_into_time" jdbcType="TIMESTAMP" property="pIntoTime" />
    <result column="p_status" jdbcType="TINYINT" property="pStatus" />
    <result column="p_out_time" jdbcType="TIMESTAMP" property="pOutTime" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
  </resultMap>
  <insert id="insert" useGeneratedKeys="true" keyProperty="pId">
    insert  into  car(p_number, uid) values (#{car.PNumber},#{car.uid})
  </insert>
  <update id="update">
    update car set p_status=1,p_out_time=#{outTime}   where uid=#{uid}
  </update>

  <select id="select" resultMap="BaseResultMap">
    select c.p_into_time,c.p_out_time from car c where c.uid=#{uid}
  </select>
</mapper>