<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.pay.mapper.CarMapper">
  <resultMap id="BaseResultMap" type="com.ys.pay.domain.entity.Car">
    <!--@mbg.generated-->
    <id column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="p_number" jdbcType="VARCHAR" property="pNumber" />
    <result column="p_into_time" jdbcType="TIMESTAMP" property="pIntoTime" />
    <result column="p_status" jdbcType="TINYINT" property="pStatus" />
    <result column="p_out_time" jdbcType="TIMESTAMP" property="pOutTime" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    p_id, p_number, p_into_time, p_status, p_out_time, `uid`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from car
    where p_id = #{pId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from car
    where p_id = #{pId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="p_id" keyProperty="pId" parameterType="com.ys.pay.domain.entity.Car" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into car (p_number, p_into_time, p_status, 
      p_out_time, `uid`)
    values (#{pNumber,jdbcType=VARCHAR}, #{pIntoTime,jdbcType=TIMESTAMP}, #{pStatus,jdbcType=TINYINT}, 
      #{pOutTime,jdbcType=TIMESTAMP}, #{uid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="p_id" keyProperty="pId" parameterType="com.ys.pay.domain.entity.Car" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into car
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pNumber != null">
        p_number,
      </if>
      <if test="pIntoTime != null">
        p_into_time,
      </if>
      <if test="pStatus != null">
        p_status,
      </if>
      <if test="pOutTime != null">
        p_out_time,
      </if>
      <if test="uid != null">
        `uid`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pNumber != null">
        #{pNumber,jdbcType=VARCHAR},
      </if>
      <if test="pIntoTime != null">
        #{pIntoTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pStatus != null">
        #{pStatus,jdbcType=TINYINT},
      </if>
      <if test="pOutTime != null">
        #{pOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ys.pay.domain.entity.Car">
    <!--@mbg.generated-->
    update car
    <set>
      <if test="pNumber != null">
        p_number = #{pNumber,jdbcType=VARCHAR},
      </if>
      <if test="pIntoTime != null">
        p_into_time = #{pIntoTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pStatus != null">
        p_status = #{pStatus,jdbcType=TINYINT},
      </if>
      <if test="pOutTime != null">
        p_out_time = #{pOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null">
        `uid` = #{uid,jdbcType=INTEGER},
      </if>
    </set>
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ys.pay.domain.entity.Car">
    <!--@mbg.generated-->
    update car
    set p_number = #{pNumber,jdbcType=VARCHAR},
      p_into_time = #{pIntoTime,jdbcType=TIMESTAMP},
      p_status = #{pStatus,jdbcType=TINYINT},
      p_out_time = #{pOutTime,jdbcType=TIMESTAMP},
      `uid` = #{uid,jdbcType=INTEGER}
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
</mapper>